@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adicione esta nova seção */
@layer utilities {
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
  }
  .animate-float {
    animation: float 4s ease-in-out infinite;
  }
}